{% extends 'base.html' %}

{% block titulo %}  
<a class="logo" href="/">D A !</a>

        <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>
        
        <ul class="main-menu" id="main-menu">
            <li><a href="/">{% trans "Inicio" %}</a></li>
            <li><a href="/libros">{% trans "Libros" %}</a></li>
            <li><a href="/autores">{% trans "Autores %}</a></li>
            <li class="drop-down"><a href="/editoriales">{% trans "Editoriales %}<i class="ion-arrow-down-b"></i></a>
                <ul class="drop-down-menu drop-down-inner">
                    
                    {% for e in editoriales %}
                    <li>
                        <a href="{% url 'detailEditoriales' e.id %}">{{e.nombre}}</a>
                     </li>
                     {% endfor %}
                </ul>
            </li>
            
            
        </ul>
        
        <div class="clearfix"></div>
        {% endblock %}

{% block contenido %}
<h2>{% trans "Datos del autor" %}</h2>

{% if autor %}

<table>
  <tr>
    <th>
      <table>
      <tr>
        <td> {% trans "Nombre:"}" {{ autor.nombre}} {{ autor.apellido}}</td>
      </tr>
      <tr>
        <td> {% trans "Fecha de nacimiento:" %} {{ autor.fecha_nacimiento}}</td>
      </tr>

      <tr><td><button id="btnLibros">{% trans "Libros" %} {{autor.nombre}} {{ autor.apellido}}</button></td></tr>
        <tr><td>
            <div class="tablaLibros">
            <table id="tablaLibros">
            {% for l in librosDeAutor %}
            <tr>
            <td><a href="{% url 'detailLibros' l.id %}">{{l.titulo}}</a></td>
            </tr>
            {% endfor %}
            </table>
        </div>
        </td></tr>
    </table>
    </th>
    <th>
        {% load static %}
        <li>
        {% with ''|add:autor.foto.name as image_path %}
          <img class="autor" alt="{{ autor.foto.name }}" src="{% static image_path %}" height="400"/>
        {% endwith %}
        </li>
    </th>
  </tr>
</table>
{% else %}
    <p>{% trans "No existe este autor" %}</p>
{% endif %}

{% endblock %}
      