{% extends 'base.html' %}

{% block titulo %}
{% load i18n %}  
<a class="logo" href="/">D A !</a>
        
        
        
        <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>
        
        <ul class="main-menu" id="main-menu">
            <li><a href="/">{% trans "Inicio" %}</a></li>
            <li><a href="/libros">{% trans "Libros" %}</a></li>
            <li><a href="/autores">{% trans "Autores" %}</a></li>
            <li class="drop-down"><a href="/editoriales">{% trans "Editoriales" %}<i class="ion-arrow-down-b"></i></a>
                <ul class="drop-down-menu drop-down-inner">
                    
                    {% for e in editoriales %}
                    <li>
                        <a href="{% url 'detailEditoriales' e.id %}">{{e.nombre}}</a>
                     </li>
                     {% endfor %}
                </ul>
            </li>
            
            
        </ul>
        
        <div class="clearfix"></div>
        {% endblock %}

{% block contenido %}
{% load i18n %}
<h2>{% trans "Datos de la editorial" %}</h2>
<br></br>
{% if editorial %}
<table>
    <tr>
        <td>{% trans "Nombre de la editorial:" %} {{ editorial.nombre}}</td>
    </tr>
    <tr>
        <td>{% trans "Estos son todos los libros que tenemos de la editorial:" %} {{ editorial.nombre}}</td>
    </tr>
    {% for l in librosDeEditorial %}
    <tr>
        <td><h3><a href="{% url 'detailLibros' l.id %}">{{l.titulo}}</a></h3></td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <p>{% trans "No existe este articulo" %}</p>
{% endif %}

{% endblock %}
