{% extends 'base.html' %}

{% block titulo %}  
{% load i18n %}
<a class="logo" href="/">D A !</a>
        
        
        
        <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>
        
        <ul class="main-menu" id="main-menu">
            <li><a href="/">{% trans "Inicio" %}</a></li>
            <li><a href="/libros">{% trans "Libros" %}</a></li>
            <li><a href="/autores">{% trans "Autores" %}</a></li>
            <li class="drop-down"><a href="/editoriales">{% trans "Editoriales" %}<i class="ion-arrow-down-b"></i></a>
                <ul class="drop-down-menu drop-down-inner">
                    
                    {% for e in editoriales %}
                    <li>
                        <a href="{% url 'detailEditoriales' e.id %}">{{e.nombre}}</a>
                     </li>
                     {% endfor %}
                </ul>
            </li>
            
            
        </ul>
        
        <div class="clearfix"></div>
        {% endblock %}



{% block contenido %}
{% load i18n %}
<h2>{% trans "Datos del libro:" %}" </h2>

{% if libro %}

<table>
  <tr>
    <th>
      
      <table>
      <tr>
        <td>{% trans "Título:" %} {{ libro.titulo}}</td>
      </tr>
      <tr>
        <td>{% trans "Género:" %} {{ libro.genero}}</td>
      </tr>
      <tr>
        <td>{% trans "Idioma:" %} {{ libro.idioma}}</td>
      </tr>
      <tr>
        <td>{% trans "Edición:" %} {{ libro.edicion}}</td>
      </tr>
      <tr>
        <td>{% trans "Año:" %} {{ libro.anyo}}</td>
      </tr>
      <tr>
        <td>{% trans "Número de páginas:" %} {{ libro.num_paginas}}</td>
      </tr>
      <tr>
        <td>{% trans "Editorial:" %} {{ libro.cod_editorial}}</td>
      </tr>
      <tr>
        <td>
          Autores:
          <table>
              {% for a in libro.autores.all %}
              <tr><td>
                <a href="{% url 'detailAutores' a.id %}">{{a.nombre}} {{a.apellido}}</a>
              </td></tr>
              {% endfor %}
          </table>
        </td>
      </tr>
    </table>
    </th>
    <th>
      {% load static %}
          {% with ''|add:libro.portada.name as image_path %}
          <img class="portada" id="portadaLibro" alt="{{ libro.portada.name }}" src="{% static image_path %}" height="400"/>
        {% endwith %}   
    <tr><p>{% trans "Puedes hacer zoom en la portada, arrastrando el cursor por encima de ella" %}</p></tr>
    </th>
  </tr>
</table>
<!--<div lista> 
    <ul>
        <li>
           Título: {{ libro.titulo}}
        </li>
        <li>
           Género: {{ libro.genero}} 
        </li>
        <li>
           Idioma: {{ libro.idioma}}
        </li>
        <li>
           Edición: {{ libro.edicion}}
        </li>
        <li>
           Año: {{ libro.anyo}}
         </li>
         <li>
           Número de páginas: {{ libro.num_paginas}}
         </li>
         <li>
           Editorial: {{ libro.cod_editorial}}
         </li>
         <li>
           Autores: 
              <ul>
              {% for a in libro.autores.all %}
              <li>
                 <a href="{% url 'detailAutores' a.id %}">{{a.nombre}} {{a.apellido}}</a>
              </li>
              {% endfor %}
              </ul>
         </li>
           {% load static %}
        <li>
          {% with ''|add:libro.portada.name as image_path %}
          <img alt="{{ libro.portada.name }}" src="{% static image_path %}" height="400"/>
        {% endwith %}  
        </li> -->

        <!-- faltan: la imagen de la portada,la editorial y los autores -->
    </div>
{% else %}
    <p>{% trans "No existe este artículo" %}</p>
{% endif %}

{% endblock %}
