{% extends 'base.html' %}
{% load i18n %}
{% block titulo %}   
<a class="logo" href="">D A !</a>
        
        <div class="right-area">
            <form class="src-form">
                <button type="submit"><i class="ion-search"></i></a></button>
                <input type="text" placeholder="Search here">
               
            </form><!-- src-form -->
        </div><!-- right-area -->
        
        <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>
        
        <ul class="main-menu" id="main-menu">
            <li><a href="">Inicio</a></li>
            <li><a href="/libros">Libros</a></li>
            <li><a href="/autores">Autores</a></li>
            <li class="drop-down"><a href="/editoriales">Editoriales<i class="ion-arrow-down-b"></i></a>
                <ul class="drop-down-menu drop-down-inner">
                    
                    {% for e in editoriales %}
                    <li>
                        <a href="{% url 'detailEditoriales' e.id %}">{{e.nombre}}</a>
                     </li>
                     {% endfor %}
                </ul>
            </li>
            
            
        </ul>
        
        <div class="clearfix"></div>
        {% endblock %}

{% block contenido %}

  <div class="img-bg bg-1 bg-layer-4"></div>
        <div class="container-fluid h-100 mt-xs-50">
        
            <div class="row h-100">
                <div class="col-md-1"></div>
                <div class="col-sm-12 col-md-5 h-100 h-sm-50">
                    <div class="dplay-tbl">
                        <div class="dplay-tbl-cell color-white mtb-30">
                            <div class="mx-w-400x">
                                <h1 class="mt-20 mb-30"><b>{% trans "LIBRERÍA ATXA DORRONSORO"%}</b></h1>
                            </div><!-- mx-w-200x -->
                        </div><!-- dplay-tbl-cell -->
                    </div><!-- dplay-tbl -->
                </div><!-- col-sm-6 -->
                
                <div class="col-sm-12 col-md-6 h-sm-50 oflow-hidden swiper-area pos-relative">          
    
                    <div class="abs-blr pos-sm-static">
                        <div class="row pos-relative mt-50 all-scroll">
                        
                            <div class="swiper-scrollbar resp"></div>
                            <div class="col-md-10">
                                
                                <h5 class="mb-50 color-white"><b>NOVEDADES</b></h5>
                                
                                <div class="swiper-container oflow-visible" data-slide-effect="slide" data-autoheight="false" 
                                    data-swiper-speed="500" data-swiper-margin="25" data-swiper-slides-per-view="2"
                                    data-swiper-breakpoints="true" data-scrollbar="true" data-swiper-loop="true"
                                    data-swpr-responsive="[1, 2, 1, 2]">
                                    
                                    <div class="swiper-wrapper">
                                     {% for l in ultimosLibros %}
                                        <div class="swiper-slide">
                                            <div class="bg-white">
                                                                                                
                                                <div class="plr-25 ptb-15">
                                                    <h4 class="mtb-10">
                                                        <a href="{% url 'detailLibros' l.id %}">{{l.titulo}}</a></h4>
                                                        {% load static %}
                                                {% with ''|add:l.portada.name as image_path %}
                                                  <a href="{% url 'detailLibros' l.id %}"><img alt="{{ l.portada.name }}" src="{% static image_path %}"/></a>
                                                {% endwith %}  
                                                    
                                                </div><!-- hot-news -->
                                            </div><!-- hot-news -->
                                        </div><!-- swiper-slide -->
                                         {% endfor %}
                                       
                                        
                                    </div><!-- swiper-wrapper -->
                                </div><!-- swiper-container -->
                                
                            </div><!-- col-sm-6 -->
                        </div><!-- all-scroll -->
                    </div><!-- row -->
                </div><!-- col-sm-6 -->
                
            </div><!-- row -->
        </div><!-- container -->

{% endblock %}
{% block footer %}

<h2>Búsqueda por autor: </h2>
{% if autores %}
 {% load static %}
   
    {% for a in autores %}
        <span>
            {% with ''|add:a.foto.name as image_path %}
          <a href="{% url 'detailAutores' a.id %}"><img alt="{{ a.foto.name }}" src="{% static image_path %}" height="100" /></a>
        {% endwith %} 
        </span>
    {% endfor %}
  
{% else %}
<p>No hay ningun autor en la tienda.</p>
{% endif %}

{% endblock %}