{% extends 'base.html' %}

{% block titulo %} Librería Dorronsoro-Atxa {% endblock %}

{% block contenido %}

 <div class="pure-g">
        

        <div class="text-box pure-u-1">
            <div class="l-box">
                <h1 class="text-box-head">B O O K S T O R E</h1>
                <p class="text-box-subhead">Bienvenida a la página principal de la librería Dorronsoro-Atxa</p>
                <p class="text-box-subhead">En esta página encontrarás los libros mas interesantes y novedosos</p>
            </div>
        </div>

		{% for l in ultimosLibros %} 

        <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 correccionFoto">
        	{% load static %}
            {% with ''|add:l.portada.name as image_path %}
         	<a href="{% url 'detailLibros' l.id %}"><img alt="{{ l.portada.name }}" src="{% static image_path %}"/></a></th></a>
        	{% endwith %}  

            <aside class="photo-box-caption">
                <span><a href="{% url 'detailEditoriales' l.cod_editorial.id %}">{{l.cod_editorial}}</a></span>
            </aside>
        </div> 
        
        {% endfor %}

    </div>


{% endblock %}
{% block footer %}

<h2>Creating a Photo Gallery Layout</h2>

                <p>
                    This page shows how to make a photo gallery using <a href="">Pure Grids</a>. Using Pure, we can create interesting layouts such as this photo gallery. This layout is fully responsive. We've added a bit of custom media queries on top of the responsive grid provided by Pure.
                </p>

                <p>
                    We've also taken advantage of <a href="">Pure Forms</a> and <a href="">Pure Menus</a>. This example uses a form with the <code>pure-form</code> class name to create an inline form. We use <a href="">Pure Buttons</a> for the button styling.
                </p>

{% endblock %}