{% extends 'base.html' %}

{% block titulo %}  
<a class="logo" href="/">D A !</a>
        <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>
        
        <ul class="main-menu" id="main-menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="/libros">Libros</a></li>
            <li><a href="/autores">Autores</a></li>
            <li class="drop-down"><a href="/editoriales">Editoriales<i class="ion-arrow-down-b"></i></a>
                <ul class="drop-down-menu drop-down-inner">
                    
                    {% for e in editoriales %}
                    <li>
                        <a href="{% url 'detailEditoriales' e.id %}">{{e.nombre}}</a>
                     </li>
                     {% endfor %}
                </ul>
            </li>
        </ul>
        
        <div class="clearfix"></div>
{% endblock %}

{% block contenido %}
<h2>Listado de autores</h2>
<p><br></p>
<p>En esta pestaña podrás encontrar la lista de todos los autores de los cuales tenemos libros en la tienda. Puedes buscar cualquier información del autor pinchando en su nombre.</p>
<p><br></p>
{% if autores %}
<table>
    {% for a in autores %}
    <tr>
        <td><h3><a href="{% url 'detailAutores' a.id %}">{{a.nombre}} {{a.apellido}}</a></h3></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No hay ningun autor en la tienda.</p>
{% endif %}
{% endblock %}