{% extends 'base.html' %}

{% block titulo %}Listado de todas las editoriales{% endblock %}

{% block contenido %}
<h2>Listado de editoriales</h2>
{% if listaEditoriales %}
	<ul>
	{% for e in listaEditoriales %}
		<li>
			<a href="{% url 'detailEditorial' e.id %}">{{e.nombre}}</a>
			<!--hemen sartu berko genuke la foto no? y para ello tendríamos que entrar en la lista
				de libros,...-->
		</li>
	{% endfor %}
	</ul>
{% else %}
<p>No hay ninguna editorial registrada en la tienda.</p>
{% endif %}
{% endblock %}