{% extends 'base.html' %}

{% block titulo %}
{% load i18n %}  
<a class="logo" href="/">D A !</a>
        
        
        
        <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>
        
        <ul class="main-menu" id="main-menu">
            <li><a href="/">{% trans "Inicio" %}</a></li>
            <li><a href="/libros">{% trans "Libros" %}</a></li>
            <li><a href="/autores">{% trans "Autores" %}</a></li>
            <li class="drop-down"><a href="/editoriales">{% trans "Editoriales" %}<i class="ion-arrow-down-b"></i></a>
                <ul class="drop-down-menu drop-down-inner">
                    
                    {% for e in editoriales %}
                    <li>
                        <a href="{% url 'detailEditoriales' e.id %}">{{e.nombre}}</a>
                     </li>
                     {% endfor %}
                </ul>
            </li>       
        </ul>
        
        <div class="clearfix"></div>
        {% endblock %}


{% block contenido %}
{% load i18n %}
<h2>{% trans "Listado de editoriales" %}</h2>
<p><br></p>
<p>{% trans "En esta pestaña puedes ver todas las editoriales de los cuales tenemos libros en la tienda. Si haces click en alguno, podrás ver sus detalles" %}</p>
<p><br></p>
{% if editoriales %}
    <table>
        {% for e in editoriales %}
        <tr>
            <td><h3><a href="{% url 'detailEditoriales' e.id %}">{{e.nombre}}</a></h3></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
<p>{% trans "No hay ninguna editorial registrada en la tienda" %}</p>
{% endif %}
{% endblock %}

