{% extends 'base.html' %}

{% block titulo %}  
<a class="logo" href="/">D A !</a>
        
        
        
        <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>
        
        <ul class="main-menu" id="main-menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="/libros">Libros</a></li>
            <li><a href="/autores">Autores</a></li>
            <li class="drop-down"><a href="/editoriales">Editoriales<i class="ion-arrow-down-b"></i></a>
                <ul class="drop-down-menu drop-down-inner">
                    
                    {% for e in editoriales %}
                    <li>
                        <a href="{% url 'detailEditoriales' e.id %}">{{e.nombre}}</a>
                     </li>
                     {% endfor %}
                </ul>
            </li>       
        </ul>
        
        <div class="clearfix"></div>
        {% endblock %}


{% block contenido %}
<h2>Listado de editoriales</h2>
<p><br></p>
<p>En esta pestaña puedes ver todas las editoriales de los cuales tenemos libros en la tienda. Si haces click en alguno, podrás ver sus detalles.</p>
<p><br></p>
{% if editoriales %}
    <table>
        {% for e in editoriales %}
        <tr>
            <td><h3><a href="{% url 'detailEditoriales' e.id %}">{{e.nombre}}</a></h3></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
<p>No hay ninguna editorial registrada en la tienda.</p>
{% endif %}
{% endblock %}

